### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Maven
log/
target/

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
